{% extends 'user_temp/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class='col'>
                <h3>View All Stores</h3><br>
                <div class="container">
                    <div class="row">
                        {% for store in view_store %}
                            {{store}}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}